/* ******************* */
/* ****ESTRUCTURA**** */
/* ***************** */


body{
    display:flex; 
    flex-direction: column; 
    font-family: "Roboto";
    font-weight: 700;
}

header{
    display:flex; 
    flex-direction:column; 
    position: fixed;
    width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0.5em auto;
    position: relative;
    top: 20vh;
    z-index: -1;
    padding-bottom: 1rem;
}

/* ******************** */
/* ******COLUMNAS******* */
/* ****************** */


.desktop-una-columna, .desktop-dos-columnas, .desktop-tres-columnas, .desktop-cuatro-columnas, .dos-columnas-inline{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.dos-columnas-inline div{
    display: flex;
}

.desktop-dos-columnas .columna{
    width: 48%;
}

.desktop-tres-columnas .columna{
    width: 30%;
}

.desktop-cuatro-columnas .columna{
    width: 23%;
}



/* ******************** */
/* ******LETRAS******* */
/* ****************** */


h3{
    color: hsl(0, 0%, 50%);
}


h1, h4{
    color: hsl(0, 100%, 40%);
}


h5{
    padding-right: 20em;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1em;
}

/* ***************** */
/* *****IMAGE***** */
/* *************** */

img{
    width: 100%;
}

/* ***************** */
/* *****HEADER***** */
/* *************** */

.barra-superior{
    display: flex;
    justify-content: space-between;
    background-color:  #e6e6e6;
    padding: 0.2rem 7%;
    width: 86%;
}

.barra-superior .noticias-hoy ul{
    display: flex;
}

.barra-superior .noticias-hoy ul li:first-child{
    color: #cd0000;
}

.barra-superior .noticias-hoy ul li{
    font-size: 0.8rem;
    margin-right: .5rem;  
}

.barra-superior .noticias-hoy ul li:not(:first-child):not(:last-child)::after{
    content: "-";
    padding-left: 0.25rem;
}

.barra-superior .islas ul li:not(:last-child)::after{
    content: "|";
    padding-left: 0.5rem;
}

.islas ul li{
    display: inline;
    margin: 0;
    padding: 0 0.5em;
    font-size: 0.8em;
    border-radius: grey;
}

.barra-principal{
    background-color: #cd0000;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 7%;
    width: 86%;
}

.hamburguer{
    margin: auto 0;
}

.hamburguer svg{
    height: 2em;
    width: 2em;
    fill:rgb(253, 253, 253);
}

.logo{
    margin: auto 0;
}

.logo svg{
    width: 20em;
    fill:rgb(253, 253, 253);
}

.login{
    background-color:#e6e6e6;
    border-radius: 4px;
    border-style: none;
    margin: 2em 0.5em;
    padding: 0.2rem;
}

.login svg{
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
}

.register{
    margin-right: 4em;
    background-color: #ffc700;
    padding: 0.4rem;
    border-style: none;
    border-radius: 0.25rem;
    margin: 0;
}

.scroller{
    padding: 0.2em;
    background-color: hsl(0, 0%, 99%);
}

.barra-menu{
    background-color:  #e6e6e6;
    border-bottom: solid 2px #ccc;
    padding: 0.2em 2%;
    width: 96%;
}

.barra-menu ul{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-left: 4rem;
    padding-right: 4rem;
}

.barra-menu svg{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}



/* *************** */
/* ****NEWS**** */
/* ************* */


.banner-principal{
    width: 90%;
    margin: auto;

}

.desktop-una-columna{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.noticia-titulo-p{
    background-color: #cd0000;
    color:#e6e6e6;
    width: 20%;
    margin: auto;
    padding: 0.1rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-top: -1rem;
}

.noticia-subtitulo-p{
    font-size: 3rem;
}

.noticia-subtitulo-p, .noticia-contenido-p, .noticia-autor-p{
    width: 100%;
    text-align: center;
}

.noticia-subtitulo{
    font-size: 1.1em;
    font-weight: bold;
}

.noticia-autor{
    font-size: 0.8em;
}


.noticia-lista{
    list-style-type: square;
    list-style-position: inside;
}


.noticia-a{
    background-color: hsl(199, 86%, 86%);
}






/* ******************** */
/* ****DISPOSITIVOS*** */
/* ****************** */



@media (max-width:479px) {




    /*======Structure======*/


    
    main{
        margin: 0 auto;
        position: relative;
        top: 15vh;
        width: 95%;
    }




    /*========Columns=======*/



    .mobile-una-columna{
        width: 100%;
    }

    .mobile-una-columna .columna{
        width: 100%;
    }

    .dos-columnas-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-una-columna-inline .columna{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-una-columna-inline .columna div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    .mobile-dos-columnas{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-dos-columnas .columna{
        width: 48%;
    }

    .desktop-dos-columnas-aside .columna-aside{
        display: none;
    }

    .mobile-dos-columnas-aside .columna-main{
        width: 100%;
    }

    .mobile-tres-columnas{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-tres-columnas .columna{
        width: 30%;
    }

    .mobile-tres-columnas-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-tres-columnas-start .columna{
        width: inherit;
    }

    .mobile-cuatro-columnas{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-cuatro-columnas .columna{
        width: 22%;
    }




    /*=======Top_Menu=======*/
    



    .barra-superior{
        padding: 1% 5%;
    }

    .islas ul{
        float: none;
    }

    .islas ul li{
        font-size: 0.7rem;
    }

    .noticias-hoy{
        display: none;
    }




    /*======Header_Menu=====*/





    .barra-principal{
        padding: 3% 5%;
        width: 90%;
    }

    .hamburguer #collapse-button {
        width: 100%;
    }

    .hamburguer #collapse-button span {
        height: 5px;
        margin: 0.4rem auto;
    }

    .hamburguer #collapse-button span:first-child {
        margin: 0;
    }

    .logo svg{
        height: 1.7rem;
        margin: 0 1em;
    }

    .login button{
        background-color: transparent;
        border: none;
        border-radius: 0.1rem;
        cursor: pointer;
        margin-right: 0.5rem;
        padding: 0.2rem 0.5rem;
    }

    .hamburguer .hamburguer #collapse-button span {
        opacity: 1;
        margin: 0.5em auto;
        transform: none;
    }
    
    .login button span {
        display: none;
    }
    
    .login button svg {
        height: 1.5rem;
        overflow: hidden;
        vertical-align: middle;
    }

    .login button svg path {
        fill:hsl(0, 0%, 100%)
    }
    
    .register button{
        background-color: hsl(47, 100%, 50%);
        border: none;
        border-radius: 0.1rem;
        cursor: pointer;
        padding: 0.4rem 0.5rem;
    }
    
    .register button span{
        font-style: italic;
        font-weight: 600;
    }



    /*=====Main Menu========*/



    .barra-menu{
        padding: 1% 5%;
        width: 200%;
    }



    /*=========Newss=========*/



    .noticia{
        margin-bottom: 1em;
    }
    
    .h1{
        font-size: 2rem;
    }

    .h2{
        font-size: 2.05rem;
        font-weight: 900;
        line-height: 1.07em;
    }

    .h3{
        font-size: 1.1rem;
        line-height: 1.25em;
    }

    .h4{
        font-size: 1.1rem;
        line-height: 1.25em;
    }

    .noticia p{
        margin: .5em 0
    }

    .noticia{
        display: flex;
        flex-direction: column;
    }

    .noticia-autor{
        margin: .5em 0;
    }

    .noticia-autor span{
        color: hsl(0, 0%, 33%);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .noticia-subtitulo{
        margin: .5em 0;
    }

    .noticia-subtitulo span{
        color: hsl(0, 0%, 33%);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .noticia-subtitulo.highlight span{
        color:hsl(0, 100%, 40%);
    }

}